.table-container {
    width: 100%;
    padding: 0;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;

  }
  
  th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #596377;
  }
  
  .btn-detail {
    background-color: #1f75fe; /* Blue */
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 4px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn-edit {
    background-color: #00cc44; /* Green */
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 4px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn-delete {
    background-color: #ff4444; /* Red */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    opacity: 0.8;
  }